form {
    display: block;
    margin-top: 0em;
    padding: 1px;
}

fieldset {
    display: block;
    /* float: left; */
    width: 20%;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: brown;
    border-image: initial;
}
/* #btn-group {
    float: left;
} */

h1 {
    padding: 36px;
    border: solid black;
    background: black;
    color: white;
    width: 50%;
    float: left;
}

figure {
    float: left;
}

h2 {
    padding: 20px;
    background: black;
    color: white;
}

#directions {
    width: 100;
}

#btn-group {
    margin-top: 1px;
}
#btn-group .btn {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  /* Clear floats (clearfix hack) */
  #btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  #btn-group .btn:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  #btn-group .btn:hover {
    background-color: #3e8e41;
  }

  #newSubIn {
      opacity: .5;
  }